*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
.navbar{
    display: flex;
    justify-content: start;
    padding: 15px 25px;
    height: 80px;
}
.list{
    display: flex;
    gap: 40px;
    list-style: none;
}
.list-item{
    font-size: 20px;
    font-weight: 600;
}
.list-item a{
    text-decoration: none;
    color: black;
}
.project-container{
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    width: 100%;
    gap: 25px;
    padding: 20px;
}
.project-1,.project-2,.project-3{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    
}
.project-content{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
}
.project-title{
    border-radius: 5px;
    background-color: black;
    color: whitesmoke;
    padding: 10px;
    text-align: center;
    box-shadow: -2px 2px 2px rgb(187, 187, 187);
}
.project-link{
    text-decoration: none;
    background-color: black;
    color: whitesmoke;
    padding: 10px;
    border-radius: 5px;
    box-shadow: -2px 2px 2px black;
}
.img-container{
    width: 500px;
}

.proj-img{
    width: 100%;
    height: auto;
    box-shadow: -2px 2px 2px rgb(162, 162, 162);
    border-radius: 5px;
}
.proj-desc{
    font-size: 19px;
    border: 1px solid black; 
    padding: 10px;
    border-radius: 5px;
    width: 500px;
    text-align: center;
}
.proj-divider{
    width: 300px;
    height: 2px;
    background-color: black;
    margin: 70px;
}
@media screen and (max-width:800px){
    .list-item{
        font-size: 13px;
    }
    .project-content{
        align-items: center;
    }
    .img-container{
        width: 300px;
        margin: 20px;
    }
    .project-title{
        font-size: 20px;
    }
    .project-link{
        font-size: 10px;
        padding: 10px 15px;
    }
    .proj-desc{
        font-size: 15px;
        border: 1px solid black; 
        padding: 10px;
        width: 300px;
    }
    .proj-divider{
        margin: 10px;
    }
}