@import url('https://fonts.googleapis.com/css2?family=League+Spartan&display=swap');

/**Navbar**/
.navbar{
    border-bottom:2px solid rgb(241, 241, 97);
}
.navbar-toggler{
    background-color: rgb(252, 252, 86) ;
}
.nav-link{
    color: rgb(192, 192, 192);
}
.nav-link:hover{
    color: rgb(252, 252, 86);
}
.navbar-brand{
    color: rgb(252, 252, 86);
    font-size: 35px;
    font-family: 'League Spartan', sans-serif;
    font-weight: 600;
}