@import url('https://fonts.googleapis.com/css2?family=League+Spartan&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-image: url( '../assets/layered-waves-haikei.svg' );
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height:100%;
    background-color: #001829;
}
/**Navbar**/
.navbar{
    border-bottom:2px solid rgb(241, 241, 97);
    background-color: #001829;
}
.navbar-toggler{
    background-color: rgb(252, 252, 86) ;
}
.nav-link{
    color: rgb(192, 192, 192);
}
.nav-link:hover{
    color: rgb(252, 252, 86);
}
.navbar-brand{
    color: rgb(252, 252, 86);
    font-size: 35px;
    font-family: 'League Spartan', sans-serif;
    font-weight: 600;
}

/**Header**/
.headerContainer{
    margin: 20px;
    position: relative;
    border: 8px solid rgb(241, 241, 97);
    border-radius: 5px;
}
.headerImage{
    width: 100%;
    height: auto;
    opacity: 0.9;
}
.headerDescription{
    position: absolute;
    bottom: 10%;
    left: 4%;
}
.headerName{
    color: rgb(252, 252, 86);
    font-size: 120px;
    font-weight: 600;
    text-shadow: -2px 2px 2px black;
    font-family: 'League Spartan', sans-serif;
}
.headerSkills{
    color: rgb(255, 255, 255);
    font-weight: 600;
    font-size: 50px;
    text-shadow: -2px 2px 2px black;
    font-family: 'League Spartan', sans-serif;
}
.headerSubdesc{
    color: rgb(255, 255, 255);
    font-weight: 500;
    font-size: 30px;
    text-shadow: -2px 2px 2px black;
    font-family: 'League Spartan', sans-serif;
    font-style: italic;
}
.aboutMeContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    margin: 90px 0px 90px 0px;
}

.descriptionImageContainer{
    width: 90%;
    text-align: center;
}
.descriptionImageContainer img{
    border-radius: 50%;
    width: 60%;
    height: auto;
    border: 4px solid rgb(252, 227, 84);
    box-shadow: -2px 2px 2px rgb(0, 0, 0);
}
.descriptionContainer{
    text-align: center;
    padding: 50px;
    background-color: #001829;
    margin: 20px 10px 20px 50px;
    opacity: 0.9;
    border: 2px solid rgb(252, 227, 84);
    box-shadow: -2px 2px 2px rgb(31, 31, 31);
    border-radius: 5px;
}
.descriptionContainer h2{
    color: rgb(248, 248, 98);
    font-size: 35px;
}
.descriptionContainer p{
    font-size: 20px;
    color: whitesmoke;
}

/**Footer**/
.footerLink{
    font-weight: 600;
    text-decoration: none;
    font-size: 17px;
}


@media screen and (max-width:1300px) {
    .headerName{
        font-size: 90px;
    }
    .headerSkills{
        font-size: 50px ;
    }
    .headerSubdesc{
        font-size: 30px;
    }
}
@media screen and (max-width:1000px) {
    .headerName{
        font-size: 50px;
        -webkit-text-stroke:0px;
        color:rgb(245, 245, 94)
    }
    .headerSkills{
        font-size: 30px ;
        -webkit-text-stroke:0px;
    }
    .headerSubdesc{
        font-size: 20px ;
        -webkit-text-stroke:0px;
    }
    .aboutMeContainer{
        grid-template-columns: 1fr;
        margin-top: 40px;
    }
    .descriptionContainer{
        text-align: center;
    }
}
@media screen and (max-width:700px) {
    .headerContainer{
        border: 2px solid rgb(241, 241, 97);
    }
    .headerDescription{
        position: absolute;
        bottom: 10%;
        left: 4%;
    }
    .headerName{
        font-size: 30px;
        top:0;
        -webkit-text-stroke:0px;
        color:rgb(245, 245, 94)
    }
    .headerSkills{
        font-size: 20px ;
        -webkit-text-stroke:0px;
    }
    .headerSubdesc{
        font-size: 13px ;
        -webkit-text-stroke:0px;
    }
    .navbar-brand{
        font-size: 30px;
    }
    .descriptionImageContainer{
        width: 100%;
        text-align: center;
    }
    .descriptionImageContainer{
        margin-left: 0px;
    }
    .descriptionContainer{
        padding: 20px 30px 20px 30px;
        margin: 20px;
    }
    .descriptionContainer h2{
        color: rgb(248, 248, 98);
        font-size: 25px;
    }
    .descriptionContainer p{
        font-size: 15px;
        color: whitesmoke;
    }
}